* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Amazon Ember';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input,
textarea {
  padding: 1rem;
  border: none;
  outline: none;
}

p {
  margin: 1.5rem 0;
  line-height: 1.6;
}

img {
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
